    <ul>
        <% if(locals.user) {%>
            <li>
                <a href="/users/profile">
                    <%= user.name %>
                </a>
            </li>
            <li>
                <a href="/users/logout">logout</a>
            </li>

        <%} else{%>
            <div id="top">
                <h1>Codeial</h1>
            <span>
            <li>
                <a href="/users/sign-in">sign-in</a>
            </li>
            <li>
                <a href="/users/sign-up">sign-up</a>
            </li>
        </span>
            </div>
        <%}%>
    </ul>


