body {
  margin: 0;
}

.top {
  display: flex;
  flex-wrap: nowrap;
  background-color: #00275a;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin-left: -40px;
}

.head {
  display: flex;
}

.head li {
  list-style-type: none;
}

.head li a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  padding: 5px;
}

section {
  margin-left: 2%;
}
