body {
  background: linear-gradient(to bottom, #cce7ff, #ffffff);
  text-align: center;
  font-family: 'Arial', sans-serif;
  color: #333;
}

#user-profile {
  padding: 20px;
  margin: 20px auto;
  background: white;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  width: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#user-profile h1 {
  color: #00275a;
}
